@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@1,400;1,500&family=Roboto+Slab&display=swap');

body{
  font-family: 'Roboto Slab', serif;

}

.top-space{
  padding-top: 0px;
}

.package-select{
  background-color: #3F87F5 ;
}