@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@1,400;1,500&family=Roboto+Slab&display=swap');

body{
  font-family: 'Roboto Slab', serif;

}

.top-space{
  padding-top: 0px;
}

.package-select{
  background-color: #3F87F5 ;
}

.toast-right{
  margin-left: 350px;
  margin-bottom: -40px;
}

.equal-height{
  height: 400px
}
.play-store{
  color: rgb(109, 221, 5);
}

.zoom{
  overflow: hidden;
  padding: 0;
  width: 300px;
  height: 300px;
  border:1px solid #000;
  float:left;
  margin:10px;
}
.zoom img {
  transition-duration: 4s;
  margin: 0 auto;
  display: block;
}
.zoom img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  z-index: 0;
}
/* https://codepen.io/Julka85/pen/JydPmN */